Airbnb Analysis

In [2]:
import pymongo
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
Client= pymongo.MongoClient("mongodb://localhost:27017/")

db= Client["sample_airbnb"]
coll= db["listingsAndReviews"]

In [4]:
data=[]
for i in coll.find({},{"_id":1, "listing_url":1, "name":1, "property_type":1, "room_type":1, "bed_type":1, "minimum_nights":1, "maximum_nights":1,
                       "cancellation_policy":1, "accommodates":1, "bedrooms":1, "beds":1, "number_of_reviews":1, "bathrooms":1 ,
                     "price":1, "cleaning_fee":1, "extra_people":1, "guests_included":1, "review_scores.review_scores_rating":1}):
    data.append(i)

In [5]:
df1=pd.DataFrame(data)

In [6]:
data2=[]
for i in coll.find({}, {"_id":1, "amenities":1}):
    data2.append(i)

In [7]:
df2=pd.DataFrame(data2)
df2.head()

        _id                                          amenities
0   1003530  [Internet, Wifi, Air conditioning, Kitchen, El...
1  10133554  [Internet, Wifi, Air conditioning, Free parkin...
2  10059872  [Air conditioning, Kitchen, Smoking allowed, D...
3  10084023  [TV, Wifi, Air conditioning, Kitchen, Elevator...
4  10091713  [TV, Wifi, Kitchen, Elevator, Heating, Washer,...

In [8]:
data3=[]
for i in coll.find({}, {"_id":1, "host":1}):
    data3.append(i)

In [9]:
df3=pd.DataFrame(data3)

In [10]:
host_details={"_id":[],"host_id":[], "host_url":[], "host_name":[], "host_location":[], "host_response_time":[], "host_neighbourhood":[],
              "host_response_rate":[], "host_is_superhost":[], "host_identity_verified":[], "host_listings_count":[], 
              "host_total_listings_count":[], "host_verifications":[] }

for i in df3["_id"]:
    host_details["_id"].append(i)

for i in df3["host"]:
    host_details["host_id"].append(i["host_id"])
    host_details["host_url"].append(i["host_url"])
    host_details["host_name"].append(i["host_name"])
    host_details["host_location"].append(i["host_location"])
    host_details["host_response_time"].append(i.get("host_response_time"))
    host_details["host_neighbourhood"].append(i.get("host_neighbourhood"))
    host_details["host_response_rate"].append(i.get("host_response_rate"))
    host_details["host_is_superhost"].append(i["host_is_superhost"])
    host_details["host_identity_verified"].append(i["host_identity_verified"])
    host_details["host_listings_count"].append(i["host_listings_count"])
    host_details["host_total_listings_count"].append(i["host_total_listings_count"])
    host_details["host_verifications"].append(i["host_verifications"])

In [11]:
df_host=pd.DataFrame(host_details)

In [12]:
data4=[]
for i in coll.find({}, {"_id":1, "address":1}):
    data4.append(i)

In [13]:
df4=pd.DataFrame(data4)

In [14]:
address_details={"_id":[], "street":[], "suburb":[], "government_area":[], "market":[], "country":[], "country_code":[], "location_type":[], 
                 "longitude":[],"lattitude":[], "is_location_exact":[]}

for i in df4["_id"]:
    address_details["_id"].append(i)
    
for i in df4["address"]:
    address_details["street"].append(i["street"])
    address_details["suburb"].append(i["suburb"])
    address_details["government_area"].append(i["government_area"])
    address_details["market"].append(i["market"])
    address_details["country"].append(i["country"])
    address_details["country_code"].append(i["country_code"])
    address_details["location_type"].append(i["location"]["type"])
    address_details["longitude"].append(i["location"]["coordinates"][0])
    address_details["lattitude"].append(i["location"]["coordinates"][1])
    address_details["is_location_exact"].append(i["location"]["is_location_exact"])

In [15]:
df_address=pd.DataFrame(address_details)

In [16]:
data5=[]
for i in coll.find({}, {"_id":1, "availability":1}):
    data5.append(i)

df5=pd.DataFrame(data5)
df5

           _id                                       availability
0      1003530  {'availability_30': 0, 'availability_60': 0, '...
1     10133554  {'availability_30': 30, 'availability_60': 60,...
2     10059872  {'availability_30': 0, 'availability_60': 0, '...
3     10084023  {'availability_30': 14, 'availability_60': 24,...
4     10091713  {'availability_30': 0, 'availability_60': 0, '...
...        ...                                                ...
5550   9985696  {'availability_30': 30, 'availability_60': 60,...
5551   9993190  {'availability_30': 0, 'availability_60': 8, '...
5552   9887054  {'availability_30': 18, 'availability_60': 48,...
5553   9907907  {'availability_30': 0, 'availability_60': 0, '...
5554   9936016  {'availability_30': 0, 'availability_60': 0, '...

[5555 rows x 2 columns]

In [17]:
availabilty_details={"_id":[], "availability_30":[], "availability_60":[], "availability_90":[], "availability_365":[]}

for i in df5["_id"]:
   availabilty_details["_id"].append(i)

for i in df5["availability"]:
    availabilty_details["availability_30"].append(i["availability_30"])
    availabilty_details["availability_60"].append(i["availability_60"])
    availabilty_details["availability_90"].append(i["availability_90"])
    availabilty_details["availability_365"].append(i["availability_365"])

In [18]:
df_availabilty=pd.DataFrame(availabilty_details)
df_availabilty

,_id,availability_30,availability_60,availability_90,availability_365
0,1003530,0,0,0,93
1,10133554,30,60,90,365
2,10059872,0,0,0,0
3,10084023,14,24,40,220
4,10091713,0,0,0,0
...,...,...,...,...,...
5550,9985696,30,60,90,365
5551,9993190,0,8,31,258
5552,9887054,18,48,78,353
5553,9907907,0,0,0,0
5554,9936016,0,0,0,0

### Data Handling

In [19]:
#basic details dataframe
df1

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,review_scores
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135,135.0,0,1,{'review_scores_rating': 94}
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1.0,2.0,29,1.0,121,NaN,0,1,{'review_scores_rating': 92}
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699,NaN,0,1,{'review_scores_rating': 100}
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,1.0,1.0,81,1.0,181,50.0,100,1,{'review_scores_rating': 92}
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,0.0,1.0,64,1.0,181,50.0,0,1,{'review_scores_rating': 95}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2,2.0,3.0,0,1.0,501,NaN,0,1,{}
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,2.0,4.0,15,2.0,220,315.0,0,1,{'review_scores_rating': 92}
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3,1125,flexible,1,1.0,1.0,4,1.0,400,NaN,300,2,{'review_scores_rating': 85}
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,Apartment,Private room,Real Bed,3,1125,moderate,2,1.0,1.0,0,1.0,60,50.0,50,2,{}
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartment,Entire home/apt,Real Bed,1,1125,flexible,6,1.0,2.0,0,2.0,750,NaN,0,1,{}

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  5555 non-null   object
 1   listing_url          5555 non-null   object
 2   name                 5555 non-null   object
 3   property_type        5555 non-null   object
 4   room_type            5555 non-null   object
 5   bed_type             5555 non-null   object
 6   minimum_nights       5555 non-null   object
 7   maximum_nights       5555 non-null   object
 8   cancellation_policy  5555 non-null   object
 9   accommodates         5555 non-null   int64
 10  bedrooms             5550 non-null   float64
 11  beds                 5542 non-null   float64
 12  number_of_reviews    5555 non-null   int64
 13  bathrooms            5545 non-null   float64
 14  price                5555 non-null   int64
 15  cleaning_fee         4024 non-null   float64
 16  extra_people         5555 non-null   int64
 17  guests_included      5555 non-null   int64
 18  review_scores        5555 non-null   object
dtypes: float64(4), int64(5), object(10)
memory usage: 824.7+ KB

In [21]:
# null values present in bedrooms, beds, bathroom, cleaning fee
df1["bedrooms"].fillna(0,inplace=True)
df1["beds"].fillna(0,inplace=True)
df1["bathrooms"].fillna(0,inplace=True)
df1["cleaning_fee"].fillna('Not Specified',inplace=True)

In [22]:
df1.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
review_scores          0
dtype: int64

In [23]:
#changing the data types
df1.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms              float64
price                    int64
cleaning_fee            object
extra_people             int64
guests_included          int64
review_scores           object
dtype: object

In [24]:
df1['minimum_nights'] = df1['minimum_nights'].astype(int)
df1['maximum_nights'] = df1['maximum_nights'].astype(int)
df1['bedrooms'] = df1['bedrooms'].astype(int)
df1['beds'] = df1['beds'].astype(int)
df1['bathrooms'] = df1['bathrooms'].astype(str).astype(float)
df1['price'] = df1['price'].astype(str).astype(float).astype(int)
df1['cleaning_fee'] = df1['cleaning_fee'].apply(lambda x: int(float(str(x))) if x != 'Not Specified' else 'Not Specified')
df1['extra_people'] = df1['extra_people'].astype(str).astype(float).astype(int)
df1['guests_included'] = df1['guests_included'].astype(str).astype(int)

In [25]:
df1.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int32
maximum_nights           int32
cancellation_policy     object
accommodates             int64
bedrooms                 int32
beds                     int32
number_of_reviews        int64
bathrooms              float64
price                    int32
cleaning_fee            object
extra_people             int32
guests_included          int32
review_scores           object
dtype: object

### Host details

In [26]:
#preprocess host details
df_host.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [27]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
list_index= []
for index,row in df_host.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [28]:
len(list_index)

1923

In [29]:
df_host["host_response_time"].fillna("Not Specified",inplace=True)
df_host["host_response_rate"].fillna("Not Specified", inplace=True)
df_host["host_neighbourhood"]=df_host["host_neighbourhood"].replace({'':"Not Specified"})

In [30]:
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_neighbourhood,host_response_rate,host_is_superhost,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,Not Specified,100.0,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,Not Specified,100.0,False,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",Not Specified,Soho,Not Specified,False,False,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,Shek Kip Mei,100.0,False,True,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,Surry Hills,Not Specified,False,True,1,1,"[email, phone, google, reviews, jumio, offline..."

In [31]:
df_host["host_is_superhost"]=df_host["host_is_superhost"].map({False: "No", True: "Yes"})
df_host["host_identity_verified"]=df_host["host_identity_verified"].map({True:"Yes", False:"No"})

### Address Details

In [32]:
df_address.head(1)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,lattitude,is_location_exact
0,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,False

In [33]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
lattitude            0
is_location_exact    0
dtype: int64

In [50]:
df_address.dtypes

_id                   object
street                object
suburb                object
government_area       object
market                object
country               object
country_code          object
location_type         object
longitude            float64
lattitude            float64
is_location_exact       bool
dtype: object

In [34]:
# data set does't have null values
# let's check ''
street=[]
suburb=[]
govt_area=[]
market=[]
country=[]
cc=[]
loc_type=[]
long=[]
latti=[]
exact_loc=[]

In [35]:
for index,row in df_address.iterrows():
    if row["street"]=='':
        street.append(index)
        
    if row["suburb"]=='':
        suburb.append(index)
        
    if row["government_area"]=='':
        govt_area.append(index)
        
    if row["market"]=='':
        market.append(index)

    if row["country"]=='':
        country.append(index)

    if row["country_code"]=='':
        cc.append(index)

    if row["location_type"]=='':
        loc_type.append(index)

    if row["longitude"]=='':
        long.append(index)

    if row["lattitude"]=='':
        latti.append(index)

    if row["is_location_exact"]=='':
        exact_loc.append(index)

In [36]:
len(street)

0

In [37]:
len(suburb)

887

In [38]:
len(govt_area)

0

In [39]:
len(market)

6

In [40]:
len(country)

0

In [41]:
len(cc)

0

In [42]:
len(loc_type)

0

In [43]:
len(long)

0

In [44]:
len(latti)

0

In [45]:
len(exact_loc)

0

In [46]:
# empty values present in suburb and market, we need to treat
df_address["suburb"]=df_address["suburb"].replace({'':"Not Specified"})
df_address["market"]=df_address["market"].replace({'':"Not Specifed"})

In [51]:
#to change the data type of is location exact column
df_address["is_location_exact"] = df_address["is_location_exact"].map({False:"No", True:"Yes"})

### Availability details

In [47]:
df_availabilty

,_id,availability_30,availability_60,availability_90,availability_365
0,1003530,0,0,0,93
1,10133554,30,60,90,365
2,10059872,0,0,0,0
3,10084023,14,24,40,220
4,10091713,0,0,0,0
...,...,...,...,...,...
5550,9985696,30,60,90,365
5551,9993190,0,8,31,258
5552,9887054,18,48,78,353
5553,9907907,0,0,0,0
5554,9936016,0,0,0,0

In [48]:
df_availabilty.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [49]:
df_availabilty.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

### Amenities details

In [52]:
df2

           _id                                          amenities
0      1003530  [Internet, Wifi, Air conditioning, Kitchen, El...
1     10133554  [Internet, Wifi, Air conditioning, Free parkin...
2     10059872  [Air conditioning, Kitchen, Smoking allowed, D...
3     10084023  [TV, Wifi, Air conditioning, Kitchen, Elevator...
4     10091713  [TV, Wifi, Kitchen, Elevator, Heating, Washer,...
...        ...                                                ...
5550   9985696  [TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...
5551   9993190  [TV, Wifi, Air conditioning, Pool, Kitchen, Fr...
5552   9887054  [TV, Wifi, Air conditioning, Kitchen, Elevator...
5553   9907907  [TV, Internet, Wifi, Kitchen, Washer, Dryer, S...
5554   9936016  [TV, Cable TV, Internet, Wifi, Air conditionin...

[5555 rows x 2 columns]

In [53]:
df2.isnull().sum()

_id          0
amenities    0
dtype: int64

#### Merging all the dataframes

In [54]:
df=pd.merge(df1, df_host, on="_id")
df=pd.merge(df, df_address, on="_id")
df=pd.merge(df, df_availabilty, on="_id")
df=pd.merge(df, df2, on="_id")

In [56]:
df.head(3)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country_code,location_type,longitude,lattitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,...,US,Point,-73.96523,40.79962,No,0,0,0,93,"[Internet, Wifi, Air conditioning, Kitchen, El..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,...,TR,Point,28.98009,41.00620,No,30,60,90,365,"[Internet, Wifi, Air conditioning, Free parkin..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,HK,Point,114.15027,22.28158,Yes,0,0,0,0,"[Air conditioning, Kitchen, Smoking allowed, D..."

In [57]:
df.to_csv("Airbnb.csv", index= False)